<section
  class="py-20"
>
  <div class="container mx-auto px-4">
    <div
      #offerCard
      class="w-full origin-center rounded-radius bg-primary p-9 flex flex-col gap-7 overflow-hidden"
    >
      <span
        #offerCardItem
        class="px-4 w-fit py-1.5 capitalize font-medium bg-accent/20 rounded-radius text-sm text-primary-foreground"
      >
        limited time offer
      </span>

      <h3
        #offerCardItem
        class="text-primary-foreground font-bold md:text-2xl text-xl lg:text-3xl"
      >
        Get 20% Off on All Accessories
      </h3>

      <p
        #offerCardItem
        class="text-sm font-normal text-primary-foreground"
      >
        Use code
        <span
          class="px-1.5 py-0.5 w-fit font-bold capitalize bg-accent/20 rounded-radius text-sm text-primary-foreground"
        >
          TECH20
        </span>
        at checkout. Valid until end of month.
      </p>

      <button
        #offerCardItem
        class="btn bg-primary-foreground! text-primary! w-fit rounded-md! py-7! px-5! font-bold! text-sm!"
      >
        Shop accessories
      </button>
    </div>
  </div>
</section>
